body {
    margin: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.avatar {
    width: 150px; 
    border-radius: 5px; 
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;
    background: #3D3242;
    color: #FFC72C;  
    border-bottom: 6px solid #5c7071; 
    border-radius: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.about-info:hover{
    color: #d90429;
}


.text-shadow{
    text-shadow: 2px 2px 2px #5c7071;
}

